<section class="w3l-banner-slider-main">
	<div class="top-header-content">
		
		<div class="bannerhny-content">

			<!--/banner-slider-->
			<div class="content-baner-inf">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="container">
								<div class="carousel-caption">
									<h3>Women's
										Fashion
										<br>50% Off</h3>
									<a routerLink="/produits" class="shop-button btn">
										Shop Now
									</a>

								</div>
							</div>
						</div>
						<div class="carousel-item item2">
							<div class="container">
								<div class="carousel-caption">
									<h3>Men's
										Fashion
										<br>60% Off</h3>
									<a routerLink="/produits" class="shop-button btn">
										Shop Now
									</a>

								</div>
							</div>
						</div>
						
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<!--//banner-slider-->
			<!--//banner-slider-->
			<div class="right-banner">
				<div class="right-1">
					<h4>
						Men's
						Fashion
						<br>50% Off</h4>
				</div>
			</div>

		</div>
    </div>
</section>

<!-- //w3l-banner-slider-main -->
<section class="w3l-grids-hny-2">
	<!-- /content-6-section -->
	<div class="grids-hny-2-mian py-5">
		<div class="container py-lg-5">
				
			<h3 class="hny-title mb-0 text-center">Shop With <span>Us</span></h3>
			<p class="mb-4 text-center">Handpicked Favourites just for you</p>
			<div class="welcome-grids row mt-5">
				<div class="col-lg-2 col-md-4 col-6 welcome-image">
					<div class="boxhny13">
							<a href="#URL">
										<img src="assets/images/grid1.jpg" class="img-fluid" alt="" />
								<div class="boxhny-content">
									<h3 class="title">Product</h3>
								</div>
							</a>
					</div>
					<h4><a href="#URL">Hand Bags</a></h4>
				</div>
				
				<div class="col-lg-2 col-md-4 col-6 welcome-image">
					<div class="boxhny13">
								<a href="#URL">
										<img src="assets/images/grid3.jpg" class="img-fluid" alt="" />
								<div class="boxhny-content">
									<h3 class="title">Product</h3>
								</div>
							</a>
					</div>
					<h4><a href="#URL">Watches</a></h4>				
				</div>

				<div class="col-lg-2 col-md-4 col-6 welcome-image">
					<div class="boxhny13">
								<a href="#URL">
										<img src="assets/images/grid2.jpg" class="img-fluid" alt="" />
								<div class="boxhny-content">
									<h3 class="title">Product</h3>
								</div>
							</a>
					</div>
					<h4><a href="#URL">Shoes</a></h4>
				</div>

				<div class="col-lg-2 col-md-4 col-6 welcome-image">
					<div class="boxhny13">
								<a href="#URL">
										<img src="assets/images/grid4.jpg" class="img-fluid" alt="" />
								<div class="boxhny-content">
									<h3 class="title">Product</h3>
								</div>
							</a>
					</div>
					<h4><a href="#URL">Suits</a></h4>
				</div>

				<div class="col-lg-2 col-md-4 col-6 welcome-image">
					<div class="boxhny13">
								<a href="#URL">
										<img src="assets/images/grid5.jpg" class="img-fluid" alt="" />
								<div class="boxhny-content">
									<h3 class="title">Product</h3>
								</div>
							</a>
					</div>
					<h4><a href="#URL">Accessories</a></h4>				
				</div>

				<div class="col-lg-2 col-md-4 col-6 welcome-image">
					<div class="boxhny13">
								<a href="#URL">
										<img src="assets/images/grid6.jpg" class="img-fluid" alt="" />
								<div class="boxhny-content">
									<h3 class="title">Product</h3>
								</div>
							</a>
					</div>
					<h4><a href="#URL">Fragrances</a></h4>			
				</div>
			</div>
		</div>
	</div>
</section>


<section class="w3l-wecome-content-6">
	<!-- /content-6-section -->
	  <div class="ab-content-6-mian py-5">
			 <div class="container py-lg-5">
					<div class="welcome-grids row">
							<div class="col-lg-6 mb-lg-0 mb-5">
									<h3 class="hny-title">About Our Twe<span>Tyk</span></h3>
											
								<p class="my-4">We carefully select our materials and we only produce high quality goods:
									our items withstand the test of time- emen if you wear them year in, year out.
									During the desihgning process we take environmental and ethical aspects into account 
									- For us , producing durable goods means creating products that you'll wear a lifetime.
									When it comes to quality, we've set the bar hight : we don't compromise on quality.
									Only the best is good enough</p>
									
							</div>
							<div class="col-lg-6 welcome-image">
								<img src="assets/images/2.jpg" class="img-fluid" alt="" />
							</div>	
							
						</div>	
				 
				 </div>
			 </div>
</section>



<section class="features-4">
	<div class="features4-block py-5">
		<div class="container py-lg-5">
			<h6><strong> are the best</strong></h6>
			<h3 class="hny-title text-center">What We <span>Offering</span></h3>
			
			<div class="features4-grids text-center row mt-5">
				<div class="col-lg-3 col-md-6 features4-grid">
					<div class="features4-grid-inn">
						<span class="fa fa-bullhorn icon-fea4" aria-hidden="true"></span>
						<h5><a href="#URL">Call Us Anytime</a></h5>
						<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6 features4-grid sec-features4-grid">
						<div class="features4-grid-inn">
							<span class="fa fa-truck icon-fea4" aria-hidden="true"></span>
							<h5><a href="#URL">Free Shipping</a></h5>
							<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
	
						</div>
				</div>
				<div class="col-lg-3 col-md-6 features4-grid">
					<div class="features4-grid-inn">
						<span class="fa fa-recycle icon-fea4" aria-hidden="true"></span>
						<h5><a href="#URL">Free Returns</a></h5>
						<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
	
					</div>
        		</div>
				<div class="col-lg-3 col-md-6 features4-grid">
								<div class="features4-grid-inn">
									<span class="fa fa-magic icon-fea4" aria-hidden="true"></span>
									<h5><a href="#URL">Biological clothes</a></h5>
									<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
			
								</div>
				</div>
			</div>
		</div>
	</div>

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</section>

<section class="w3l-contacts-8" style="background-color: rgb(198, 196, 196);">
    <div class="contacts-9 section-gap py-5">
      <div class="container py-lg-5">
        <div class="row top-map">
          <div class="col-lg-6 partners">
            <div class="cont-details">
              <h3 class="hny-title mb-0">Get in <span>touch</span></h3>
              <p class="mb-5">We're ready to lead you into the future with Business Services</p>
              <p class="margin-top"><span class="texthny">Call Us : </span> <a href="tel:+(21) 255 999 8899">+(21)
                  255 999 8899</a></p>
              <p> <span class="texthny">Email : </span> <a href="mailto:info@example.com">
                  info@example.com</a></p>
              <p class="margin-top"> 123 KHAIREDDIN BACHA STREET,TUNIS,TUNISIA,1080 </p>
            </div>
            <div class="hours">
              <h3 class="hny-title">Working <span>Hours</span></h3>
              <h6>Business Service:</h6>
              <p> Monday to Friday 8.00 am - 6.00 pm</p>
              <p> Saturday and Sunday - Closed</p>
              <h6 class="margin-top">Customer support:</h6>
              <p> Monday to Friday 8.00 am - 6.00 pm</p>
              <p> Saturday 10.00 am - 4.00 pm</p>
              <p> Sunday - Closed</p>
            </div>
          </div>
          <div class="col-lg-6 map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2895687731!2d-74.26055986835598!3d40.697668402590374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1562582305883!5m2!1sen!2sin"
              frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>


    <div class="map-content-9 form-bg-img">
      <div class="layer section-gap py-5">
        <div class="container py-lg-5">
          <div class="form">
            <h3 class="hny-title two text-center">Fill out the form.</h3>
            <form action="https://sendmail.w3layouts.com/submitForm"class="mt-md-5 mt-4" method="post">
              <div class="input-grids">
                <input type="text" name="w3lName" id="w3lName" placeholder="Name">
                <input type="email" name="w3lSender" id="w3lSender" placeholder="Email" required="" />
                <input type="subject" name="w3lSubject" id="w3lSubject" placeholder="Subject" required="">
              </div>
              <div class="input-textarea">
                <textarea name="w3lMessage" id="w3lMessage" placeholder="Message" required=""></textarea>
              </div>
              <button type="submit" class="btn">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>