<mat-card>

    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon>category</mat-icon>Categories
        </button>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Categories
        </button>
        <button mat-list-item routerLink="/admin/souscategories">
            <mat-icon mat-list-icon>category</mat-icon>Sous Categories
        </button>
        <button mat-list-item routerLink="/admin/add-souscategory">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Sous Categories
        </button>
        <button mat-list-item routerLink="/admin/products">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>Products
        </button>
        <button mat-list-item routerLink="/admin/add-product">
            <mat-icon mat-list-icon>add_shopping_cart</mat-icon>Add Products
        </button>
        <button mat-list-item routerLink="/admin/orders">
            <mat-icon mat-list-icon>group</mat-icon>Ordre
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>message</mat-icon>Contact
        </button>
    </mat-action-list>
</mat-card>